body{
  margin: 0;
  width: 100%;
  padding-top: 58px;
}
.pozadi{
  background-color: #F4E7D3
}
.obrazek {
  position: relative;
  clear: both;          
  min-width: 100%;
  height: 400px;         
  margin: 0 ;        
  align-items: center;
  justify-content: center;
  display: flex;
  background-position: center;
  background-size: cover; 
  background-repeat: no-repeat;
  background: url("https://i.ibb.co/MkZwCWQ3/Chat-GPT-Image-26-11-2025-22-06-28.png") ;

}
.obrazek_dole {
  position: relative;
  clear: both;          
  min-width: 100%;
  height: 400px;         
  margin: 0;   
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover; 
  background-repeat: no-repeat;
}
.obsah {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
    }
.lightbox {
  display: none;              
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}
.blok {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 30px;
  flex: 1;
  min-width: 200px;
  overflow-wrap: break-word;
  
}
.blok_right{
  flex-direction: row-reverse;

}
.blok_left{
  flex-direction: row;
  
}
.blok_middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  
}
.blok_middle_stin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15); 
  min-height: 320px;
  min-width: 320px
  border-radius: 20px;
}
.blok_middle_spec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15); 
  min-height: 450px;
  min-width: 320px;
  border-radius: 20px;
}
.thumbnail {
  width: 480px;
  height: 320px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s;
  flex-shrink: 0;
}
.thumbnail_spec{
  width: 350px;
  height: 450px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s;
  flex-shrink: 0;
  min-with:320px;
}
.thumbnail_spec:hover {
 transform: scale(1.03);
}
.thumbnail:hover {
  transform: scale(1.03);
}
.lightbox img {
  max-width: 90%;
  max-height: 90%;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: O O 20px rgba(0, 0, 0, 0.5);
}
img, .thumbnail {
  float: none;
}
.p_hlavni {
  margin: 10px;
  text-align: center;
  color: #6B4B2A;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
}
 p {
  margin: 40px;
  text-align: center;
  color: #6B4B2A;
  font-family: sans-serif;
  font-size: 20px;
}
.hlavni_nadpis {
  text-align: center;
  color: #b96c1e;
  font-size: 60px;
}
.podnadpis{
  text-align: center;
  color: #b96c1e;
  font-size: 30px;
}
.nav.navbar{
  background-color:#F4E7D3 !important ;
  display: flex;
  
}
.navbar-brand{
  color: #b96c1e !important;
  font-size: 20px !important;
  
}
.nav-link{
  color:#6B4B2A !important;
  font-family: sans-serif !important;
  font-weight: bold !important;
  font-size: 15px !important;
  text-align: center !important;
}
.btn-custom {
  padding: 0.6rem 1.2rem; 
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700 !important;
  line-height: 1.2;
  color: #b96c1e  !important; 
  background-color: #DEB887 !important; 
  border: 1px solid #A0522D !important; 
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 12px rgba(0,0,0,0.15); 
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(90, 60, 33, 0.4);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
.text-na-obraze {
      position: absolute;
      top: 50%;               
      left: 50%;              
      transform: translate(-50%, -50%);
      color: #F5E9D3;
      font-size: 35px;
      font-weight: bold;
     
      max-height: 400px;
      display: flex;
      
}
section {
  scroll-margin-top: 60px; 
}
@media (max-width: 768px) {
  .blok {
    flex-direction: column !important;
    text-align: center;
  }
  body{
    min-width: 100%;
  }

  .thumbnail, .thumbnail_spec {
    width: 90%;
    height: auto;
  }
}





